test0:
    alpha: gru_day_V1
    universe: csi800+csi1000+csi2000

test1:
    alpha: factor@df_scores_v0
    universe: top-1000

use_daily:
    alpha: big_combine
    components:
        - sellside@huatai.master_combined@master_combined
        - factor@df_scores_v0
        - gru_day_V1
    weights:
        - 1.0
        - 1.0
        - 1.0
    universe: top-1000
    top_num: 50
    freq: 1

use_daily.backtest:
    alpha: big_combine
    components:
        - factor@ht_master_combined
        - factor@df_scores_v0
        - gru_day_V1
    weights:
        - 1.0
        - 1.0
        - 1.0
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101

use_daily.backtest2:
    alpha: big_combine
    components:
        - factor@ht_master_combined
        - factor@df_scores_v0
        - gru_day_V1
    weights:
        - 1.0
        - 1.0
        - 1.0
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101
    buffer_zone: 0.9

use_daily.backtest3:
    alpha: big_combine
    components:
        - factor@ht_master_combined
        - factor@df_scores_v0
        - gru_day_V1
    weights:
        - 1.0
        - 1.0
        - 1.0
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101
    buffer_zone: 0.95

master_daily:
    alpha: factor@ht_master_combined
    universe: top-1000
    top_num: 50
    freq: 1

gru_daily:
    alpha: gru_day_V1
    universe: top-1000
    top_num: 50
    freq: 1

event_factor_momentum.backtest:
    alpha: factor@event_factor_momentum
    category: screen
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101

event_factor_momentum.backtest1:
    alpha: factor@event_factor_momentum
    category: screen
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101
    screen_ratio: 0.4

event_factor_momentum.backtest2:
    alpha: factor@event_factor_momentum
    category: screen
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101
    screen_ratio: 0.3

event_factor_momentum.backtest3:
    alpha: factor@event_factor_momentum
    category: screen
    universe: top-1000
    top_num: 50
    freq: 1
    backtest: True
    test_start: 20190101
    screen_ratio: 0.2